.box1{
    background-color: #e06666;
    color: #ffff00 ;
}

.box2{
    background-color:#00a15d;
}

.box3{
    background-color: #8e7cc3;
}

.box4{
    background-color: #ff9fd5;
}

.box5{
    background-color: #ffff00;
}

.box6{
    background-color:#00a15d;
}

.box7{
    background-color: #ffc800;
}

.box8{
    background-color: #ffff00;
}

.box9{
    background-color: #3d85c6;
    color: #ffff00;
}